body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  font-size: 4rem;
  font-weight: bold;
}
p {
  margin-top: 4rem;
  font-size: 4rem;
  font-weight: bold;
  /* max-width: 90%; */
}

.hidden {
  display: none;
}

.again {
  padding: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  border-radius: 1rem;
  font-size: 4rem;
  font-weight: bold;
}
